<%- include('parts/header') %> <% var category %>

<section class="m-4 p-4">
	<div class="container">
		<h2 class="text-center"><%= category.name %></h2>
	</div>
</section>

<%- include('parts/footer') %>
