<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container">
		<a class="navbar-brand" href="/">Olx.uz</a>
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<form class="d-flex ms-auto w-25">
				<input
					class="form-control w-100 me-2"
					type="search"
					placeholder="Search"
					aria-label="Search"
				/>
			</form>
			<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a
						class="nav-link m-2"
						aria-current="page"
						href="/users/login"
						>Kirish</a
					>
				</li>
				<li class="nav-item">
					<a class="nav-link m-2" href="/users/signup"
						>Ro'yxatdan o'tish</a
					>
				</li>
			</ul>
		</div>
	</div>
</nav>
